<div class="line-menu-line">
    <ul class="line-menu">
        <li><a href="{% url 'home' %}">Home</a></li>
        <li class="line-menu-dropdown">
            <a href="#">Django Basic</a>

            <ul class="line-submenu">
                <li><a href="{% url 'calculator' %}">calculator</a></li>
            </ul>
        </li>

                <li class="line-menu-dropdown">
            <a href="{% url 'imdb' %}">IMDB</a>

            <ul class="line-submenu">
                <li><a href="{% url 'movie' %}">movies</a></li>
                <li><a href="{% url 'person' %}">persons</a></li>
                <li><a href="{% url 'genre' %}">genres</a></li>
            </ul>
        </li>

    </ul>
</div>